.form-btn{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-btn:hover{
    background-color: #379ec7;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.form-btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.database-btn {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.database-btn:hover{
     background-color: #379ec7;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.database-btn:active{
   transform: translateY(-1px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
}

.rst-btn{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rst-btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.rst-btn:active{
   transform: translateY(-1px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); 
}

.footer-top { 
    max-width: 1400px; 
    margin: 0 auto; 
    padding: 5rem 2rem; 
}

.footer-grid { 
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); 
    gap: 3rem; 
}


@media (min-width: 1025px) {
    .footer-grid {
        grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    }
}

.footer-col h3 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
}

.footer-col h3 span { 
    color: white; 
}

.footer-col h4 {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.footer-col p {
    font-size: 0.95rem;
    margin-bottom: 1.5rem;
}
.footer-col ul { 
    list-style: none; 
    display: flex; 
    flex-direction: column; 
    gap: 0.8rem; 
}


.social-links {
    display: flex;
    gap: 1.25rem;
}

.social-links a {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}